html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1.125rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-family: "Barlow", sans-serif;
}

.attribution a {
  color: #3e52a3;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}
.flex-dir-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid-temp-col {
  grid-template-columns: 50% 50%;
}
@media (max-width: 375px) {
  .grid-temp-col {
    grid-template-columns: 100%;
  }
}

.btn {
  padding: 1.4375rem 2.0625rem;
  background: white;
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  color: #333;
  font-family: "Fraunces", serif !important;
  text-transform: uppercase;
}
.btn:hover {
  background: #73D0FC;
  color: white;
}

.btn-secondary {
  color: #23303e;
  font-family: "Fraunces", serif;
}

.btn-secondary-yellow {
  position: relative;
}
.btn-secondary-yellow:hover:before {
  opacity: 100%;
}

.btn-secondary-softred {
  position: relative;
}
.btn-secondary-softred:hover:before {
  opacity: 100%;
}

.btn-secondary-yellow:before {
  border-top: 10px solid #fad400;
  border-radius: 50px;
  content: "";
  position: absolute;
  top: 60%;
  left: -5px;
  right: 0;
  bottom: 0;
  width: 8.4375rem;
  z-index: -1;
  opacity: 20%;
}

.btn-secondary-softred:before {
  border-top: 10px solid #fe7867;
  border-radius: 50px;
  content: "";
  position: absolute;
  top: 60%;
  left: -5px;
  right: 0;
  bottom: 0;
  width: 8.4375rem;
  z-index: -1;
  opacity: 20%;
}

.filter-green {
  filter: invert(54%) sepia(8%) saturate(2186%) hue-rotate(118deg) brightness(89%) contrast(87%);
}

@media (max-width: 375px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 376px) {
  .hide-for-desktop {
    display: none;
  }
}

.hide-script {
  opacity: 0.5;
  transition: all 0.4s ease;
}

.header {
  background: url(/images/desktop/image-header.jpg) no-repeat center center/cover;
  height: 80vh;
}
@media (max-width: 375px) {
  .header {
    background: url(/images/mobile/image-header.jpg) no-repeat center center/cover;
  }
}
.header__nav {
  padding: 3.125rem 2.5rem;
}
@media (max-width: 375px) {
  .header__nav {
    padding: 1.25rem 1.875rem;
  }
}
.header__logo {
  z-index: 2;
}
.header__links a {
  text-decoration: none;
  font-size: 1.125rem;
  font-family: "Barlow", sans-serif;
}
.header__links a:not(:last-child) {
  margin-right: 50px;
  color: white;
}
.header__h1 {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  letter-spacing: 12px;
  text-align: center;
  padding-top: 8.4375rem;
  padding-bottom: 6.75rem;
}
@media (max-width: 375px) {
  .header__h1 {
    letter-spacing: 8px;
  }
}
.header__arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 375px) {
  .about > img:nth-of-type(1) {
    grid-row: 1;
  }
}
.about__text {
  text-align: left;
  padding-left: 10rem;
  padding-right: 7.1875rem;
}
@media (max-width: 1024px) {
  .about__text {
    padding: 0 1.5625rem;
    text-align: center;
    align-items: center;
  }
}
.about__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.875rem;
  margin-bottom: 3.125rem;
  color: #23303e;
}
@media (max-width: 375px) {
  .about__title {
    margin-top: 3rem;
    margin-bottom: 1.875rem;
  }
}
.about__paragraph {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: #a7abae;
  margin-bottom: 3.125rem;
}
@media (max-width: 375px) {
  .about__paragraph {
    margin-bottom: 2.1875rem;
  }
}
@media (max-width: 375px) {
  .about__button {
    margin-bottom: 3.4375rem;
  }
}
.about__image {
  width: 100%;
}
.about__services_gd {
  position: relative;
  text-align: center;
}
.about__services_gd img {
  width: 100%;
}
.about__services_gd_text {
  position: absolute;
  bottom: 0;
  padding: 0 10.7rem;
}
@media (max-width: 375px) {
  .about__services_gd_text {
    padding: 0 1rem;
  }
}
.about__services_gd_text_title {
  color: #25564b;
  font-family: "Fraunces", serif;
  margin-bottom: 2rem;
  font-weight: 900;
}
.about__services_gd_text_paragraph {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: #25564b;
  margin-bottom: 60px;
}
.about__services_ph {
  text-align: center;
  position: relative;
}
.about__services_ph img {
  width: 100%;
}
.about__services_ph_text {
  position: absolute;
  bottom: 0;
  padding: 0 10.7rem;
}
@media (max-width: 375px) {
  .about__services_ph_text {
    padding: 0 1rem;
  }
}
.about__services_ph_text_title {
  color: #19536b;
  font-family: "Fraunces", serif;
  margin-bottom: 2rem;
  font-weight: 900;
}
.about__services_ph_text_paragraph {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  color: #19536b;
  margin-bottom: 60px;
}

.testimonials {
  margin: 0 10rem;
}
@media (max-width: 375px) {
  .testimonials {
    margin: 0 1.375rem;
  }
}
.testimonials__title {
  font-family: "Fraunces", serif;
  color: #a7abae;
  text-transform: uppercase;
  letter-spacing: 7px;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
@media (max-width: 375px) {
  .testimonials__title {
    letter-spacing: 5px;
    font-size: 14px;
    margin: 3.4375rem;
  }
}
.testimonials img {
  border-radius: 50%;
  height: 4.375rem;
}
.testimonials__messages {
  text-align: center;
  margin-bottom: 10rem;
}
@media (max-width: 375px) {
  .testimonials__messages {
    flex-direction: column;
  }
}
.testimonials__messages h2 {
  color: #23303e;
  font-family: "Fraunces", serif;
  margin-top: 5rem;
  letter-spacing: 0;
}
@media (max-width: 375px) {
  .testimonials__messages h2 {
    margin-top: 2.1875rem;
  }
}
.testimonials__messages h3 {
  color: #a7abae;
  font-family: "Barlow", sans-serif;
}
.testimonials__messages p {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  margin-top: 4.375rem;
}
.testimonials__messages > div:not(:last-of-type) {
  margin-right: 2.8125rem;
}
@media (max-width: 375px) {
  .testimonials__messages > div:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 3.4375rem;
  }
}

.gallery {
  grid-template-columns: 25% 25% 25% 25%;
}
@media (max-width: 375px) {
  .gallery {
    grid-template-columns: 50% 50%;
  }
}
.gallery img {
  width: 100%;
}

.footer {
  text-align: center;
  background: #90D4C5;
  padding-top: 4.375rem;
}
.footer__img {
  padding-bottom: 2rem;
}
.footer__links {
  padding-bottom: 5.625rem;
}
.footer__links a {
  color: #458c7e;
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
}
.footer__links a:not(:last-child) {
  padding-right: 3.75rem;
}
.footer__socials {
  padding-bottom: 4.375rem;
}
.footer__socials a:not(:last-child) {
  padding-right: 0.9375rem;
}

.header__hamburguer {
  display: none;
}
.header__hamburguer_triangle {
  width: 0;
  height: 0;
  border-bottom: 2.5rem solid white;
  border-left: 2.5rem solid transparent;
}
.header__hamburguer_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 3.6rem 0;
}
.header__hamburguer_menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}
.header__hamburguer_menu ul li a {
  font-family: "Barlow", sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  color: #818498;
}
.header__hamburguer_menu ul li a:hover {
  color: #5a636c;
}

.btn-hamburguer {
  font-family: "Fraunces", serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1.4375rem 2rem;
  background-color: #fad400;
  margin-top: 3rem;
  border-radius: 3rem;
  cursor: pointer;
  color: #23303e;
}

.hamburguer_mobile {
  position: absolute;
  top: 8rem;
  left: 6%;
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

/*# sourceMappingURL=styles.css.map */
