@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;

.gallery {

    grid-template-columns: 25% 25% 25% 25%;

    @include media("<=phone") {
        grid-template-columns: 50% 50%;
    }

    img {
        width:100%;
    }
}